/* Header and Nav */
*{
  margin:0;
  padding:0;
  text-decoration:none
}

header{
  position:relative;
  width:100%;
  background:#333;
}

.logo{
  position:relative;
  z-index:123;
  padding:10px;
  font:18px verdana;
  color:#6DDB07;
  float:left;
  width:15%
}

.logo a{
  color:#6DDB07;
}

nav{
  position:relative;
  width:980px;
  margin:0 auto;
}

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a {
  border:0;
  list-style:none;
  line-height:1;
  display:block;
  position:relative;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

#cssmenu:after,#cssmenu > ul:after{
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;height:0
}

#cssmenu{
  font-family:sans-serif;
  background:#333
}

#cssmenu > ul > li{
  float:left
}

#cssmenu > ul > li > a{
  padding:17px;
  font-size:12px;
  letter-spacing:1px;
  text-decoration:none;
  color:#ddd;
  font-weight:700;
}

#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{
  color:#fff
}

#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{
  background:#448D00!important;
  -webkit-transition:background .3s ease;
  -ms-transition:background .3s ease;
  transition:background .3s ease;
}

/* body	*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: #404040;
}

#responsive-admin-menu {
  float: left;
  width: 200px;
  background-color: #404040;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0px;
  min-height: 500px;
}

#content-wrapper {
  width: auto;
  margin-left: 200px;
  background-color: #ffffff;
  height: 800px;
  position: relative;
  padding: 15px;
}

#responsive-admin-menu #responsive-menu {
  height: 50px;
  display: none;
  line-height: 50px;
  cursor: pointer;
  color: #ffffff;
  text-indent: 10px;
}

#responsive-admin-menu #responsive-menu .menuicon {
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 0px;
}

/* Menu Styles */
#responsive-admin-menu #menu {
  width: 100%;
}

#responsive-admin-menu #menu a {
  border-bottom: 1px dotted #52535a;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 12px;
  color: #FFFFFF;
  position: relative;
  font-weight: 400;
  overflow: hidden;
}
#responsive-admin-menu #menu a:hover {
  color: #52535a;
  background-color:#fcfcfc;
}

#responsive-admin-menu #menu div {
  display: none;
  width: 100%;
  background-color: #5c5d64;
  overflow: hidden;
}

#responsive-admin-menu #menu div a {
  color: #c0c0c0;
}
		
/*footer*/
footer{
  height:40px;
  padding-top: 20px;
  text-align: center;
  background-color: #333;
  border-top: 2px solid #AAA;
  font:18px "Open Sans", Helvetica, sans-serif;
  color:#6DDB07;
  position: relative;
}
